#felso{
    width: 800px;
    height: 100px;
  
    text-align: center;
    background-image: url("header.jpg");

}
#bal{
    width: 200px;
    height: 800px;
    background-color:#E8E8E8;
    color: #800000 ;
}
#jobb{
    width: 600px;
    height: 800px;
    background-color: #FFFFFF;
    color: #484848 ;
}
