ul {   
    list-style-type: none;   
    margin: 0;   
    padding: 0;   
    overflow: hidden;   
    background-color: #333;
    width:770px }  
li {   
    float: left; }  
li a {   
    display: block;   
    color: white;   
    text-align: center;   
    padding: 14px 21px;   
    text-decoration: none; }  
li a:hover {   
    background-color:green ;
padding: 16px } 
#home{
    width:30px;
    padding-bottom:0px;
}